<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head.ejs') %>
    <!-- Carosuel -->
  <%- include('partials/_carousel.ejs') %>

<body>
  <%- include('partials/_header') %>
  <div class="content">
  <h1>Welcome to Burger HELL!</h1>
  <%- include('partials/_carousel_element') %>

  <div class="about">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11042.218119767194!2d-123.12743874031584!3d49.283821625118996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486719d24e2e021%3A0xb7057fe085c86109!2sCanada%20Place!5e0!3m2!1sen!2sca!4v1656965960508!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div id="about-info">
      <span>FIND US AT:</span>
      <span>604.555.1234</span>
      <span>OPEN Daily: Mon-Sun 11am-11pm</span>
      <span>Address: 999 Canada Pl, Vancouver, BC V6C 3T4</span>
    </div>



  </div>




  <%- include('partials/_footer') %>
</div>
</body>

</html>
