<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head.ejs') %>
    <!-- Carosuel -->
  <%- include('partials/_carousel.ejs') %>

<body>
  <%- include('partials/_header') %>
  <div class="content">
  <h1>604-555-1234</h1>
  <%- include('partials/_carousel_element') %>

  <h1>FOOTER</h1>
  <%- include('partials/_footer') %>
</div>
</body>

</html>
