<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head.ejs') %>
  <body>
    <%- include('partials/_header') %>
    <div class="content">
      <div id="menu-bar">
      <h1>MENU</h1>
      <div id="menu-cart">
        <form method="GET" action="/menu/order">
          <button type="add" class="btn-cart">Check Out <%= ordered.length%> items</button>
        </form>
      </div>
      </div>

      <% let item = 1;%>

      <!-- <div class="menu"> -->
      <div class="row menu">
        <% for (items of menuItems) {%>

        <!-- menu items -->
        <div class="col-md-8 themed-grid-col menu-item">
          <div class="row mb-3">
            <div class="col-md-2 themed-grid-item nomobile">
              <div class="pb-3 ">
                <div class="item-info ">
                  <span class="item-pic"
                    ><img id="cover-image" alt="<%= items.photo_url %>" src=" <%= items.photo_url %> "
                  /></span>
                  <!-- <span>Description</span> -->
                </div>
              </div>
            </div>
            <div id="left-side" class="col-md-6 themed-grid-item">
              <div class="pb-3">
                <div class="item-info">
                  <span id="item-title"><%= items.name %></span>
                  <span><%= items.description %></span>
                </div>
              </div>
            </div>
            <div id="right-side" class="col-md-3 themed-grid-item ">
              <div id="add-order">
                <span>Price: $<%= items.price/100 %></span>
<!--  -->


                <!-- sorting items list to merge all same itemid -->
                <% let itemsList = [{totalItems:0}]; %>

                <% let uniqueItems = [...new Set(ordered.map(item => item.itemnumber))]; %>


                <% for (unique of uniqueItems){ %>
                 <% let temp = {}%>
                 <% temp.itemnumber = unique %>
                 <% temp.price = 0 %>
                 <% temp.quantity = 0 %>
                 <% itemsList.push(temp) %>
                <% } %>

                <% console.log("itemsList before ",itemsList)%>

                <% for (newItem of ordered){ %>
                    <% let match = itemsList.find(item=>item.itemnumber===newItem.itemnumber) %>
                    <% match.orderid = newItem.orderid %>
                    <% match.name = newItem.name %>
                    <% match.price += newItem.price %>
                    <% match.quantity += newItem.quantity %>
                    <% itemsList[0].totalItems += newItem.quantity %>
                <% } %>

                <% console.log("itemsList after",itemsList)%>
<!--  -->


                <!-- end sort -->
                <form method="POST" action="/menu/add">
                  <span>Quantity:
                    <%let numInCart = 1%>
                    <% let show = false%>
                    <% if (ordered.length>0){ %>
                      <% for(order of itemsList.slice(1)) {%>
                    <% if (order.itemnumber == items.id){numInCart=order.quantity; show=true; break;} %>
                    <%}}%>
                    <input
                      class="quantity"
                      placeholder="1"
                      type="number"
                      name="quantity"
                      min="1"
                      value="1"
                      />
                  <input type="hidden" name="itemID" value="<%= items.id %>" />
                  <div id="add-to-cart">
                  <button id = "<%=item%>" class="btn-add">
                    <% if (!show){%>

                      <%='Add to Cart'%>

                      <%}else{%>
                        <span style="color:red;">
                        <%=numInCart.slice(1)%>
                        in Cart <br>Add More!
                      </span>
                      <%}%> </button>
                      <%if (show) {%>
                  <span style="visibility: visible;">
                    <i class="fa-solid fa-check added-icon"></i>
            </span>
            <%}%>
                  </span>
                  </div>
                </form>

              </div>

            </div>
          </div>
        </div>
        <% item++ %>
        <% } %>
      </div>

      <!-- FOOTER -->
      <%- include('partials/_footer') %>
    </div>
  </body>
</html>
