<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head.ejs') %>
<body>
  <%- include('partials/_header') %>

<!-- <div class="menu"> -->
  <div class="content">
    <h1>Place Orders</h1>

    <% if (items.length>0) {%>
    <h5>Total number of items Orded: <%= items.length %> for Order ID: <%= items[0].orderid %> </h5>
    <div id="total-ordered-item">
      <% let total = 0; %>
      <% let tax = 1.05; %>
    <% for (item of items) {%>

      <div class="added-item">

          <span class="added-desc"><%= item.name %></span>
          <span>x</span>

          <form method ="POST" action="/menu/order/update">
          <span class="added-desc"> Quantity:
            <input
            id="quantity"
            type="number"
            name="quantity"
            value="<%= item.quantity %>"/>

          </span>
          <span class="added-desc">price: $<%=item.quantity*item.price/100%>
          <% total+=item.quantity*item.price/100 %></span>
          <button id="btn-update">Update</button>
          </form>

          <form method ="POST" action="/menu/order/delete">
          <button id="btn-update">Delete</button>
          </form>

      </div>

    <% } %>
    <span>Sub-Total: <%= total %></span>
    <span>Tax: 5%</span>
    <% const total_price = Math.round(total*100*tax)/100 %>
    <span>Total: <%= total_price %> </span>

    <form method="POST" action="submit?">
      <input type="hidden" name="total_price" value="<%= total_price %>">
      <input type="hidden" name="orderID" value="<%= items[0].orderid %>">
      <button id="place-order">Place Order</button>
    </form>

    <%} else { %>
     <p> 0 Items in Cart 🛒</p>
     <div id="filler"></div>
    <%}%>

    <%- include('partials/_footer') %>
    </div>

  </div>





</body>

</html>

