<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head.ejs') %>
  <body>
    <%- include('partials/_header') %>
    <div class="content">
      <h1>My Account</h1>

      <% let count = 0;%>

      <% for (order of orders) { %>
        <% if ( order.status_sent == true ) { %>
          <% count++ %>
      <% }} %>


      <h5>Total number of Orders: <%= count %></h5>

      <!-- <div class="users-info"> -->
        <%- include('partials/_user_info.ejs') %>


        <div id="order-info">

          <% for (order of orders) { %>

            <% if ( order.status_sent == true ) { %>
              <span class="order-line-info">

                <span class="line-detail-box">
                  <span class="field"><span class="id-mobile">Order</span> ID:</span>
                  <%= order.id %>
                </span>

                <span class="line-detail-box">
                  <span class="field">Created on</span>
                  <% const dateStr = ''+order.time_sent %>
                  <% let orderDay = dateStr.slice(0,4)%>
                  <% let orderDate = dateStr.slice(4,10)%>
                  <% let orderYear = dateStr.slice(11,15)%>
                  <% let orderTime = dateStr.slice(16,21)%>
                  <span class="date-mobile"><%=orderDay%></span> <%= orderDate %><span class="date-mobile">, <%=orderYear%>, <%= orderTime %></span>
                </span>

                <%let status = 'Completed'; %>
                <%let ETA = ''+order.time_of_pickup; %>

                <% if(!order.status_finished) { status='Active'; %>



                <!--  ETA = order  -->
                <span class="line-detail-box stat-active">
                  <span class="field status-mobile">Status:</span>
                  <%= status %>
                </span>

                <% if (order.time_of_pickup != null){%>
                <span class="line-detail-box stat-active">
                  <span class="field">Ready By:</span>
                  <%= ETA.slice(16,21) %>
                </span>
                <% } else { %>
                  <span class="line-detail-box stat-active">
                    <span class="field">Waiting confirmation</span>
                  </span>
                <% } %>
                <% } else { %>


                <span class="line-detail-box stat-complete">
                  <span class="field status-mobile">Status:</span>
                  <%= status %>
                </span>
                <% } %>


              </span>
            <% } %>

          <% } %>

        </div>
      </div>
      <div id="filler2">
      </div>

      <%- include('partials/_footer') %>

    </div>
  </body>
</html>
